## Preparation

In [1]:
from urllib.request import urlretrieve

_ = urlretrieve(
    "http://ftp.apnic.net/apnic/stats/apnic/delegated-apnic-latest",
    "apnic.csv",
)
%pip install jupysql duckdb duckdb-engine --quiet

In [1]:
import pandas as pd
import numpy as np

In [2]:

%load_ext sql
%sql duckdb://

## 窗口函数示例

In [3]:
%%sql
select rank_dense() over (order by cnt desc) as rank,
       country,
       cnt,
       round(100.0 * cnt / sum(cnt) over (), 3) as pct
 from (select country,
              sum(count) as cnt
         from apnic.csv
        group by country
        order by 2 desc
       )

*  duckdb://
Done.

[(1, 'CN', 343255685, 38.683),
 (2, 'JP', 190424865, 21.46),
 (3, 'KR', 112489511, 12.677),
 (4, 'AU', 48086341, 5.419),
 (5, 'IN', 41621060, 4.69),
 (6, 'TW', 35703682, 4.024),
 (7, 'SG', 25486383, 2.872),
 (8, 'ID', 18878863, 2.128),
 (9, 'VN', 16246503, 1.831),
 (10, 'HK', 12579024, 1.418),
 (11, 'TH', 9226068, 1.04),
 (12, 'NZ', 6990869, 0.788),
 (13, 'MY', 6685508, 0.753),
 (14, 'PH', 6091665, 0.686),
 (15, 'PK', 5499423, 0.62),
 (16, 'US', 2248396, 0.253),
 (17, 'BD', 1998586, 0.225),
 (18, 'NP', 591787, 0.067),
 (19, 'LK', 563560, 0.064),
 (20, 'KH', 421096, 0.047),
 (21, 'MO', 337517, 0.038),
 (22, 'MM', 227867, 0.026),
 (23, 'MN', 217022, 0.024),
 (24, 'BN', 216730, 0.024),
 (25, 'AF', 175389, 0.02),
 (26, 'NC', 161508, 0.018),
 (27, 'GU', 153416, 0.017),
 (28, 'FJ', 143521, 0.016),
 (29, 'MV', 90114, 0.01),
 (30, 'LA', 86052, 0.01),
 (31, 'PF', 75782, 0.009),
 (32, 'PG', 71299, 0.008),
 (33, 'BT', 37108, 0.004),
 (34, 'GB', 21678, 0.002),
 (35, 'TL', 21612, 0.002),
 (36, 'WS', 20314, 0.002),
 (37, 'MP', 15394, 0.002),
 (38, 'SB', 14972, 0.002),
 (39, 'VU', 14909, 0.002),
 (40, 'SC', 12912, 0.001),
 (41, 'CA', 11804, 0.001),
 (42, 'FR', 11729, 0.001),
 (43, 'TO', 11701, 0.001),
 (44, 'NR', 9796, 0.001),
 (45, 'SE', 9588, 0.001),
 (46, 'NL', 8891, 0.001),
 (47, 'FM', 8774, 0.001),
 (48, 'CK', 8770, 0.001),
 (49, 'TV', 8275, 0.001),
 (50, 'PW', 6179, 0.001),
 (51, 'AS', 5699, 0.001),
 (52, 'KI', 4212, 0.0),
 (53, 'NO', 4163, 0.0),
 (54, 'MH', 4129, 0.0),
 (55, 'GI', 4128, 0.0),
 (56, 'WF', 3617, 0.0),
 (57, 'DE', 3235, 0.0),
 (58, 'IO', 3105, 0.0),
 (59, 'VG', 2896, 0.0),
 (60, 'PA', 2626, 0.0),
 (61, 'AE', 2608, 0.0),
 (62, 'IT', 2224, 0.0),
 (63, 'NF', 2098, 0.0),
 (64, 'NU', 2097, 0.0),
 (64, 'ES', 2097, 0.0),
 (65, 'TK', 2081, 0.0),
 (66, 'MU', 2049, 0.0),
 (66, 'RU', 2049, 0.0),
 (67, 'CH', 1106, 0.0),
 (68, 'LT', 1088, 0.0),
 (69, 'TR', 1057, 0.0),
 (70, 'KP', 1025, 0.0),
 (71, 'IL', 802, 0.0),
 (72, 'CY', 560, 0.0),
 (72, 'FI', 560, 0.0),
 (73, 'AL', 544, 0.0),
 (73, 'SI', 544, 0.0),
 (74, 'EE', 512, 0.0),
 (74, 'PT', 512, 0.0),
 (74, 'LU', 512, 0.0),
 (75, 'DK', 304, 0.0),
 (76, 'RO', 32, 0.0),
 (77, 'AP', 3, 0.0),
 (78, 'BR', 2, 0.0),
 (78, 'MX', 2, 0.0),
 (79, 'IM', 1, 0.0),
 (79, 'ZA', 1, 0.0),
 (79, 'CO', 1, 0.0),
 (79, 'KE', 1, 0.0),
 (79, 'BZ', 1, 0.0)]

In [18]:
x = np.linspace(1, 10, 100)
y = x[:, np.newaxis] + x[np.newaxis, :]
y

array([[ 2.        ,  2.09090909,  2.18181818, ..., 10.81818182,
        10.90909091, 11.        ],
       [ 2.09090909,  2.18181818,  2.27272727, ..., 10.90909091,
        11.        , 11.09090909],
       [ 2.18181818,  2.27272727,  2.36363636, ..., 11.        ,
        11.09090909, 11.18181818],
       ...,
       [10.81818182, 10.90909091, 11.        , ..., 19.63636364,
        19.72727273, 19.81818182],
       [10.90909091, 11.        , 11.09090909, ..., 19.72727273,
        19.81818182, 19.90909091],
       [11.        , 11.09090909, 11.18181818, ..., 19.81818182,
        19.90909091, 20.        ]])